{{ define "main" }}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadTexts">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      <p class="singleHeadDesc">{{.Params.description}}</p>
      <div class="singleHeadDetail">
        <img src={{.Params.avatar}} loading="lazy" alt="" class="singleAvatar">
        <span>{{ range (.GetTerms "authors")}}
          <a href={{.Permalink}}>{{ .Name }}</a>
          {{end}}
        </span>
        {{ range (.GetTerms "categories")}}
        <a href={{.Permalink}} class="singleCategory">{{ .Name }}</a>
        {{end}}
      </div>
      <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    <img src={{ .Params.imageBig }} alt={{.Title}} class="singleHeadImg">
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{ .Content }}</div>
    <div class="singleRightBar">
      {{ partial "rightBar" .}}
    </div>
  </div>
</div>
{{ end }}